$red: #fc4747;
$dark_blue: #10141e;
$greyish_blue: #5a698f;
$semi-dark-blue: #16102f;

$header-font-size: 32px;
$body-font-size: 18px;

$white: #ffffff;
$padding: 1em;

$margin-bottom: 18px;
$border-radius: 10px;
$space-between-trendin-images-mobile: 16px;
